body {
    background-image: url("burbz.jpg");
    background-size: cover;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

#main {
    border: 2px solid rgb(5, 228, 253);
    width: 300px;
    max-height: 400px;
    margin: 100px auto;
    background: linear-gradient(to top, blue, white);
    opacity: 0.8;
    border-radius: 5px;
}


h1 {
    color: rgba(0, 0, 0, 0.97);
    text-shadow: 0px 0px 3px rgb(5, 228, 253);
    margin-top: 30px;
    margin-bottom: 100px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

#count-el{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 3px rgb(5, 228, 253);
}

#save-el{
    color: rgb(227, 92, 169);
    text-shadow: 0px 0px 1px black;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid rgb(5, 228, 253);
    text-shadow: 0px 0px 3px black;
}

#increment-btn {
    background: rgb(82, 108, 188);
}

#save-btn {
    background: #fcc20f;
    width: 100px;
}

